@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.navbar a.navbar-brand.coworking-word{
    font-family: 'Old Standard TT', serif;
    font-weight: 800;
    line-height: 1;
    color: #ffff;
}

.col-12.col-md-7.left-column{
    padding: 0;
}

.navbar span.space-word{
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #dca400;
}

.nav-padding-right{
    padding-right: 50px;
}

li.nav-item.navegation-link {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.navbar a{
    font-family: 'Varela Round', sans-serif;
    color: #ffff;
}

.bg-left-top{
    background: #2f2f2f;
    height: calc(100vh - 250px);
    position: relative;
}

.bg-left-bottom{
    background: #131313;
    height: 173px;
}

nav.navbar.navbar-color.navbar-expand-lg{
    background: #2f2f2f;
}

.first-box-title{
    color: #ffff;
    font-family: 'Old Standard TT', serif;
    font-size: 45px;
    margin-bottom: 40px;
}

p.first-box-text{
    color: #ffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    max-width: 400px;
    color: #ffff;
}

.container.container-first-box{
    display: flex;
    text-align: start;
    flex-direction: column;
    position: absolute;
    top: 60px;
    bottom: auto;
    left: 100px;
    right: auto;
}

a.nav-link.navegation-link:hover::after{
    content: '';
    background: #dca400;
    height: 8px;
    width: 8px;
    border-radius: 5px;
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: auto;
    top: 36px;
}

.image-size{
    max-height: 110px;
    border-radius: 15px;
    margin-left: 25px;
    margin-right: 25px;

}

.images-container{
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.bg-left-bottom::after{
    content: '';
    display: block;
    position: absolute;
    background: #4c4c4c;
    height: 35px;
    width: 35px;
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
}

.arrow{
    position: relative;
}

.arrow-size{
    max-width: 12px;
    display: flex;
    position: absolute;
    top: 5px;
    bottom: auto;
    right: auto;
    left: 10px;
    z-index: 2;
}