@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.navbar a.navbar-brand.coworking-word{
    font-family: 'Old Standard TT', serif;
    font-weight: 800;
    line-height: 1;
    color: #ffff;
}

.col-12.col-md-7.left-column{
    padding: 0;
}

.navbar span.space-word{
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #dca400;
}

.nav-padding-right{
    padding-right: 50px;
}

li.nav-item.navegation-link {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.navbar a{
    font-family: 'Varela Round', sans-serif;
    color: #ffff;
}

.bg-left-top{
    background: #2f2f2f;
    min-height: calc(100vh - 250px);
    position: relative;
    display: flex;
}

.bg-left-bottom{
    background: #131313;
    height: 173px;
}

nav.navbar.navbar-color.navbar-expand-lg{
    background: #2f2f2f;
}

.first-box-title{
    color: #ffff;
    font-family: 'Old Standard TT', serif;
    font-size: 45px;
    margin-bottom: 40px;
}

p.first-box-text{
    color: #ffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    max-width: 400px;
    color: #ffff;
}

.container.container-first-box{
    text-align: start;
    flex-direction: column;
    max-width: 425px;
    max-height: none;
    margin: auto;
}

a.nav-link.navegation-link:hover::after{
    content: '';
    background: #dca400;
    height: 8px;
    width: 8px;
    border-radius: 5px;
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: auto;
    top: 36px;
}

.image-size{
    max-height: 110px;
    border-radius: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

@media (min-width: 700px){
    .image-size{
        
    }
}

.images-container{
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.bg-left-bottom::after{
    content: '';
    display: block;
    position: absolute;
    background: #4c4c4c;
    height: 35px;
    width: 35px;
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
}

.arrow{
    position: relative;
}

.arrow-size{
    max-width: 12px;
    display: flex;
    position: absolute;
    top: 5px;
    bottom: auto;
    right: auto;
    left: 11px;
    z-index: 2;
}

.second-box-image{
    height: 100%;
    object-fit: cover;
    object-position: center;
    width:calc(100% - 60px);
}

.right-bar{
    width: 60px;
    height: 100%;
    background: #131313;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    right: 0;
    left: auto;
    top: 0;
    bottom: 0;
}

.menu-box{
    width: 100%;
    background: #4c4c4c;
    border: 0;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    display: block;
    margin-bottom: auto;
}

.menu-lines{
    max-height: 30px;
    max-width: 30px;
    display: inline-block;
}

.media-link{
    color: #dca400;
    font-family: 'Varela Round', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.media-link:last-of-type {
    margin-bottom: auto;
}

.booking-btn{
    background: #dca400;
    font-family: 'Varela Round', sans-serif;
    color: white;
    width: 200px;
    height: 55px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 60px;
    left: auto;
    top: auto;
    border: none;
}

.booking-arrow{
    filter: grayscale(100%) brightness(2);
    max-height: 20px;
    transform: rotate(270deg);
    margin-left: 10px;
    position: relative;
    top: 1px;
}